.page-header {
    text-align: center;
    background-color: rgb(228, 52, 228);
}

div.modal-header{
    background-color: rgb(228, 52, 228);
}

div.modal-footer{
    gap: 165px;
}

.container-fluid {
    background-color: rgb(228, 52, 228);
    height: 75px;
} 

.carousel-item {
    height: 500px;
}

.a-carousel{
    background-color: white;
    color: black;
    border-radius: 10px;
}

.p-carousel {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
}

.div-footer {
    background-color:  rgb(228, 52, 228);
    margin-top: 10px;
}

p.blockquote-footer {
    color: #ffffff;
}


.links-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.links-container a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 3px solid #ccc;
}

.container {
    padding: 20px;
}